<!DOCTYPE html>
<html>
  <head>
    <title>Rails51</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div><!-- asset_pack_path sample -->
      <img src="<%= asset_pack_path 'rails.png' %>" />
    </div>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'sample' %>
  </body>
</html>
